{% extends 'base.html.twig' %}

{% block title %}Edit ClassGroup{% endblock %}

{% block container %}
    <h1>Edit ClassGroup</h1>

    {{ include('class_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('class_group_index') }}" class="btn btn-secondary">back to list</a>

    {% include 'ui/_delete_form.html.twig' with { id: class_group.id, path: 'class_group_delete' } %}
{% endblock %}
