{% extends 'base.html.twig' %}

{% block title %}Edit Admin{% endblock %}

{% block body %}
    <h1>Edit Admin</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_index') }}" class="btn btn-secondary">back to list</a>

    {% include 'ui/_delete_form.html.twig' with { id: admin.id, path: 'admin_delete' } %}
{% endblock %}
