
.title-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-new-classgroup {
  margin-left: 11px;
  margin-bottom: 7px;
}

.csv-download-button {
  margin-left: 5% !important;
}

.sub-navbar {
  padding-bottom: 20px;
}