<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            {% for label,messages in app.flashs %}
            {% for message in messages %}
            alert('{{ label }}: {{ message }}');
            {% endfor %}
            {% endfor %}


        {% endblock %}
    </body>
</html>
