{% extends 'base.html.twig' %}

{% block title %}Dashboard - Heimdall{% endblock %}

{% block container %}


    <h3>Justificatifs d'absences et retards à valider</h3>

    {% include 'student/absence.html.twig' with { 'presences': absences } %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('proofModal') }}
{% endblock %}
