<h3>Compte Heimdall</h3>

<p>Bonjour {{ name }}!</p>

<p>Votre compte heimdall a été créé, voici vos identifiants :</p>

<ul>
    <li>Nom d'utilisateur : {{ name }}</li>
    <li>Mot de passe : {{ password }}</li>
</ul>

<p>
{% if type == 'Student' %}
    Téléchargez l'application Heimdall sur votre téléphone pour visualiser vos absences et retards et les justifier facilement !
{% elseif type == 'Teacher' %}
    Téléchargez l'application Heimdall pour faire l'appel de vos classes, noter les absences et les retards.
{% endif %}
</p>