{# templates/email/email_creation.html.twig #}
<h3>Compte Heimdall</h3>

Bonjour {{ name }}!
Votre identifiant est : {{ name }}
votre password est : {{ password }}

{# example, assuming you have a route named "login" #}
Pour se connecter et changer de mot de passe, aller sur : <a href="{{ url('app_login') }}">Connexion</a>.

Merci!