<h3>Récapitulatif absences</h3>

<p>Bonjour,</p>

<p>En votre qualité de CFA responsable, nous vous prions de bien vouloir trouver ci-joint le ou les fichier(s) CSV du
    relevé des absences et retards en formation enregistrés jusqu'à ce jour.</p>

<p>Cordialement,</p>